{% extends 'base.html' %}

{% block title %}Come To My Party!{% endblock %}

{% block content %}

  <div class="row">

    <div class="col-xs-12">
      <img src="/static/img/cupcake.png" align="right" alt="Cupcake">

      <h2>Welcome</h2>

      <p>I'm having a party! I'd love for you to come!</p>

      <h2>Afterparty</h2>

      <p><a href="/afterparty-search">Help me keep the party going!</a></p>

      <h2>Promote My Party</h2>

      <p><a href="/create-event">Make an event on Eventbrite!</a></p>

      <p><a href="/my-events">View your events</a></p>

    </div>

  </div>


{% endblock %}
