{% extends 'base.html' %}

{% block title %}~My Events~{% endblock %}

{% block content %}

  <div class="row">

    <div class="col-xs-12 col-md-6">

      <h2>My events</h2>

      <ul class="events">
        {% for id, name in events.items() %}
          <li><a href="https://www.eventbrite.com/e/{{ id }}"><i>{{ id }}</i>: {{ name }}</a></li>
        {% endfor %}
      </ul>

    </div>

    <div class="col-xs-12 col-md-6">

      <h2>Eventbrite results json</h2>

      <pre>{{ data }}</pre>

    </div>

  </div>

{% endblock %}