<!DOCTYPE html>
<html>
<head>
    <title>Trial Information</title>
    <style>
        html,
        body{
            height: 100%;
        margin: 0;
        padding: 0;
        } 
        /*Setting the margin and padding to 0 resets the browser.*/
          div#map {
             height: 600px;  
             width: 600px;   
            }
    </style>
    <script src="http://code.jquery.com/jquery.js"></script>
</head>
<body>

  <ul>
    Study Info
    <br>
    {% for condition in current_cond %}
        {{condition.study}}
        <br>
        {% for study in condition.study %}
            Age Info
            <br>
            {{study.ages}}
            <br>
            Phase Info    
            <br>
            {{study.phases}}
            <br>
            Intervention Info
            <br>
            {{study.inters}}
            <br>
            Condition Info
            <br>
            {{study.conditions}}
            <br>
            Site Info
            <br>
            {{study.sites}}
        {% endfor %}    
    {% endfor %}

    <p hidden id="cond_id">{{cond_id}}</p>

  </ul>
  <div id='map'></div>
    <script src="../static/patientmaps.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={GOOGLEKEY}&callback=initMap"
    ></script>
</body>
</html>