{% extends 'base.html' %}

{% block head %}
    <title> Welcome!</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <section class="col-xs-12 col-sm-12 col-md-6 col-lg-6 left">
                <h1 id="titleleft">EMPOWER</h1>
                <p id="desc"> Welcome to PatientConnect! Patients can use our website to search and find actively enrolling clinical trials- either by condition or a US zipcode. With this information patients can approach their healthcare providers about enrolling in these cutting-edge medical trials. Find out how you can be apart of the future of medical innovation today.
                </p>
            </section>
        </div>
        <div>
            <section class="col-xs-12 col-sm-12 col-md-6 col-lg-6 right">
                <h1 id="titleright">PATIENTS</h1>
                <div>
                    <h2 id="start">SEARCH</h2>

                    <form class= "condition" autocomplete="off" action="/condition-match" method="post">
                        <div class="autocomplete" style="width:300px;">
                        <input type="text" id="search" name="search" placeholder="CONDITION" required>
                        </div>
                        <input type="submit">
                    </form>

                    <form class= "zipcode" autocomplete="off" action="/zipcode-match" method="post">
                            <input type="text" id="zipcode" name="zipcode" placeholder="ZIPCODE" required>
                            <input type="text" id="distance" name="distance" placeholder="DISTANCE" required>
                            <select class="units" placeholder = "Units" required>
                                <option id="idmiles" name="units">miles</option>
                                <option id="idkm" name="units">km</option>
                            </select>
                            <input type="submit">
                    </form>

                </div>
            </section>
        </div>
    </div>
    
    <script src="../static/autocomplete.js"></script>
{% endblock %}